<footer class="d-print-none">
  <div class="container">
    <div class="row">
      {% for col in site.data.footer.columns %}
        <div class="col-lg">
          {{ col.description | markdownify }}

          {% if col.links %}
            <ul class="fa-ul">
              {% for item in col.links %}
                <li>
                  <i class="fa-li fa fa-chevron-circle-right"></i>
                  <a href="{{ item.href | relative_url }}"{% if item.new_window %} target="_blank"{% endif %}>{{ item.text }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="small mt-2">
      {% if site.author %}
        <p>© {{ site.author }}</p>
      {% endif %}
      {% if site.data.footer.license %}
        {{ site.data.footer.license | markdownify }}
      {% endif %}
      {% if site.github_edit %}
        {% if site.github_edit contains '' %}
          {% assign branch = site.github_edit %}
        {% else %}
          {% assign branch = 'main' %}
        {% endif %}
        <p>
          <a href="{{ site.github.repository_url }}/edit/{{ branch }}/{{ page.path }}">
            <i class="fa-solid fa-pen-to-square"></i> Edit this page
          </a>
        </p>
      {% endif %}
    </div>
  </div>
</footer>

<script src="{{ '/assets/theme/js/anchor.min.js' | relative_url }}"></script>
<script>
  // Show anchors when hovering over headings, using anchor.js
  (function () {
    const headings = ".content h2[id], .content h3[id], .content h4[id], .content h5[id], .content h6[id]";
    anchors.options = { placement: "right" };
    anchors.add(headings);
  })();
</script>
