---
description: Template for homepage.
remark: Custom layout that skips the page-title header.
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include navbar.html %}

    <main>
      <div class="container content px-4 pt-4" style="max-width: 1100px;">
        <div class="row">
          <div class="col-12">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
    
{% if site.posts_on_home > 0 %}
  <div class="row cards mt-4">
    {% for item in site.posts limit:site.posts_on_home %}
      <div class="col-md-6">
        {% include card.html %}
      </div>
    {% endfor %}
  </div>
{% endif %}
